# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


try.tsx
src/features/counter
src/features/dogs
# src/features/user
src/screens/test
src/routes/PrivateRoute.tsx

src/common/navigation/PersistentDrawer.tsx
src/common/navigation/PersistentDrawerMini.tsx
src/common/sharedComponents/NextButton.tsx
src/common/sharedComponents/PrevButton.tsx